fastapi
uvicorn[standard]
websockets
python-multipart
asyncpg
langchain
langchain-ollama
langgraph
tavily-python
langchain_mcp_adapters
langmem
langgraph-checkpoint-postgres
python-jose[cryptography]
passlib[bcrypt]

